<!DOCTYPE HTML>


<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404 소방헬기 에러 페이지</title>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&family=Open+Sans&family=Oswald&family=Raleway&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/static/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/style.css}">
</head>

<body>

<div class="loginwrap">
    <div class="loginw">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>소방헬기 에러 페이지</h3>
                    <h1><span>4</span><span>0</span><span>4</span></h1>
                </div>
                <h2>요청하신 페이지를 찾을 수 없습니다. <br> URL을 확인해주세요.</h2>
            </div>
        </div>
    </div>
</div>

</body>
</html>